.mail {
    display: flex;
    flex-direction: column;
}

.mail__logo {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}


.mail__text {
    color: #848789;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

.mail__submit {
    width: 400px;
    height: 69px;
    border: solid 1px #d3d7d9;
    background-color: #ffffff;
    padding-left: 29px;
    font-family: 'Lato';
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
    color: #929292
}

.mail__btn {
    background-color: #64c29e;
    width: 126px;
    height: 69px;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

form {
    margin-bottom: 111px;
}

@media (max-width: 560px) {
    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
    }

    .mail__btn {
        width: 100%;
    }
}